# Ignore Java backend build directory
backend/target/
backend/mvn*
backend/.mvn
backend/.gitattributes
backend/.env

# Ignore React frontend dependencies
frontend/node_modules/

# Ignore React frontend build directory
frontend/build/

# IDE-specific files
.idea/
/.vscode/

# OS-specific files
.DS_Store
Thumbs.db



